rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    allow get: if isAuthenticated();
    allow list: if isAuthenticated();

    match /users/{user} {
      allow get: if true;
      allow list: if true;
      allow update: if isAuthenticated();
      allow create: if isAuthenticated();
    }

    match /version/{version} {

      match /prefectureMaster/{prefectureMaster} {
        allow get: if true;
        allow list: if true;

        allow create: if isAuthenticated();
        allow update: if isAuthenticated();

        allow delete: if isAuthenticated();
      }

      match /shopCategoryMaster/{shopCategoryMaster} {
        allow get: if true;
        allow list: if true;

        allow create: if isAuthenticated();
        allow update: if isAuthenticated();

        allow delete: if isAuthenticated();
      }

      match /shopFeatureMaster/{shopFeatureMaster} {
        allow get: if true;
        allow list: if true;

        allow create: if isAuthenticated();
        allow update: if isAuthenticated();

        allow delete: if isAuthenticated();
      }

      match /shops/{shop} {
        allow get: if true;
        allow list: if true;

        allow create: if isAuthenticated();
        allow update: if isAuthenticated();

        allow delete: if isAuthenticated();
      }

    }
  }
}
