<div class="bg-gray-50">
  <div class="max-w-screen-2xl mx-auto">
    <header class="flex justify-between items-center">
      <section
        class="min-h-96 flex items-center flex-1 shrink-0 overflow-hidden shadow-lg relative py-8 md:py-10 xl:py-20"
      >
        <img
          src="assets/images/hero.jpg?auto=format&q=75&fit=crop&w=1500"
          loading="lazy"
          alt=""
          class="w-full h-full object-cover object-center absolute inset-0"
        />

        <!-- overlay -->
        <div class="bg-indigo-500 mix-blend-multiply absolute inset-0"></div>

        <div class="sm:max-w-xl flex flex-col items-center relative p-4">
          <!-- logo -->
          <a
            href="/"
            class="inline-flex items-center text-white text-2xl md:text-3xl font-bold gap-2.5"
            aria-label="logo"
          >
            <img class="w-20 h-20" src="assets/images/logo.png" />

            <h1
              class="text-white text-3xl md:text-4xl font-bold text-center"
            >
              赤ちょうちん.net
            </h1>
          </a>
        </div>
      </section>
    </header>
  </div>
</div>
