<div class="bg-gray-50 pb-6 sm:pb-8 lg:pb-12">
  <div class="max-w-screen-2xl mx-auto">
    <section
      class="min-h-96 flex justify-center items-center flex-1 shrink-0 bg-gray-100 overflow-hidden shadow-lg relative py-16 md:py-20 xl:py-48"
    >
      <img
        src="assets/images/hero.jpg?auto=format&q=75&fit=crop&w=1500"
        loading="lazy"
        alt=""
        class="w-full h-full object-cover object-center absolute inset-0"
      />

      <!-- overlay -->
      <div class="bg-indigo-500 mix-blend-multiply absolute inset-0"></div>

      <div class="sm:max-w-xl flex flex-col items-center relative p-4">
        <!-- <p class="text-indigo-200 text-lg sm:text-xl text-center mb-4 md:mb-8">
          お好みの赤ちょうちん系居酒屋が見つかる
        </p> -->
        <!-- <h1
          class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center mb-8 md:mb-12"
        >
          赤ちょうちん.net
        </h1> -->
      </div>
    </section>
  </div>
</div>
