<div class="bg-gray-50 py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="mb-4 md:mb-5">
      <h2 class="text-gray-800 text-xl lg:text-2xl font-bold mb-1 md:mb-2">
        {{ genreName }}のお店
      </h2>
    </div>

    <div
      class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 md:gap-6 xl:gap-8"
    >
      <ng-container *ngIf="shops$ | async as shops">
        <ng-container *ngFor="let shop of shops">
          <app-shop-card [shop]="shop"></app-shop-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
