<div class="flex flex-col border rounded-lg overflow-hidden">
  <div class="flex flex-col gap-0 p-4 lg:p-6">
    <a
      [href]="shop?.tabelogUrl"
      target="_blank"
      class="text-gray-800 text-lg font-bold"
    >
      <span
        class="underline hover:text-indigo-500 active:text-indigo-600 transition duration-100"
        >{{ shop?.shopName }}
      </span>
    </a>

    <p class="text-xs text-gray-400 mb-1">
      {{ shop?.address }}
    </p>

    <p class="text-xs text-gray-500">
      {{ shop?.lowerPrice | currency: "JPY" }}～{{
        shop?.upperPrice | currency: "JPY"
      }}
    </p>

    <div *ngIf="shop?.beerMiddlePrice">
      <fa-icon [icon]="faBeer" class="text-yellow-600"></fa-icon>
      <span class="text-xs text-gray-500">
        {{ shop?.beerMiddlePrice | currency: "JPY" }}
      </span>
    </div>
    <div class="my-1 flex flex-wrap -m-1">
      <ng-container *ngIf="shop?.prefectureCode">
        <span
          class="m-1 bg-blue-200 hover:bg-blue-300 rounded-full px-2 font-bold text-xs leading-loose cursor-pointer"
          >{{ getPrefectureName(shop?.prefectureCode ?? "") }}
        </span>
      </ng-container>
      <ng-container *ngFor="let shopGenreId of shop?.genreIds">
        <span
          *ngIf="shopGenreId"
          class="m-1 bg-orange-200 hover:bg-orange-300 rounded-full px-2 font-bold text-xs leading-loose cursor-pointer"
          >#{{ getShopGenreName(shopGenreId) }}
        </span>
      </ng-container>
      <ng-container *ngFor="let featureId of shop?.featureIds">
        <span
          *ngIf="featureId"
          class="m-1 bg-green-200 hover:bg-green-300 rounded-full px-2 font-bold text-xs leading-loose cursor-pointer"
          >#{{ getFeatureName(featureId) }}
        </span>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="isDisplayImage">
    <div class="items-center" [innerHTML]="sanitizedHtml"></div>
  </ng-container>
</div>
